%button{
  background-color: $primary;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  padding: 0 40px;
  outline: 1px solid $primary;
  letter-spacing: 0.5px;
  border-radius: 4px;

  &:hover {
    background-color: transparent;
    color: $primary;
  }
}