@import "_variables.scss";

.top-categories {

  &__list {
    position: relative;
    top: -3.75rem;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;

    & a {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-decoration: none;
      color: $gray800;
      font-size: 20px;
      font-weight: 700;
      line-height: 150%;

      &:hover {
        opacity: 0.8;
      }
    }

  }

  &__description {
    margin-top: 16px;
  
  }
}
